
.Main {

    /*background-image: url("leagueBackground.jpg")*/
    /*background: greenyellow;*/
}

.Title {
    font-size: 50px;
    font-family: "Gabriola", "Assistant SemiBold";
    font-weight: bold;
}


body {
    font-size: 35px;
    font-family: "Gabriola", "Assistant SemiBold";
    text-align: center;
}


td{
    width: 80px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    padding: 5px
}


table {
    text-align-all: center;
    font-size: 35px;
    margin: auto;
    border: 1px solid black;
}